@import "bootstrap/scss/bootstrap.scss"
@import "accessible-nprogress/dist/accessible-nprogress.css"

html, body, .svelte
  height: 100%

html
  --sprachy-primary: #58508d
  --sprachy-gradtwo: #bc5090
  --sprachy-gradthree: #ff6361
  --sprachy-secondary: #ffa600

h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus
  outline: none

.btn-sprachy
  background-color: var(--sprachy-secondary)
  border-color: var(--sprachy-secondary)
  color: white

.btn-sprachy:hover
  color: white
