@import "accessible-nprogress/dist/accessible-nprogress.css"

// scss-docs-start import-stack
// Configuration
@import "bootstrap/scss/_functions"
@import "bootstrap/scss/_variables"
@import "bootstrap/scss/_mixins"
@import "bootstrap/scss/_utilities"

// Layout & components
@import "bootstrap/scss/_root"
@import "bootstrap/scss/_reboot"
@import "bootstrap/scss/_type"
// @import "bootstrap/scss/_images"
@import "bootstrap/scss/_containers"
@import "bootstrap/scss/_grid"
@import "bootstrap/scss/_tables"
@import "bootstrap/scss/_forms"
@import "bootstrap/scss/_buttons"
// @import "bootstrap/scss/_transitions"
@import "bootstrap/scss/_dropdown"
@import "bootstrap/scss/_button-group"
@import "bootstrap/scss/_nav"
@import "bootstrap/scss/_navbar"
@import "bootstrap/scss/_card"
// @import "bootstrap/scss/_accordion"
// @import "bootstrap/scss/_breadcrumb"
// @import "bootstrap/scss/_pagination"
// @import "bootstrap/scss/_badge"
@import "bootstrap/scss/_alert"
// @import "bootstrap/scss/_progress"
// @import "bootstrap/scss/_list-group"
// @import "bootstrap/scss/_close"
// @import "bootstrap/scss/_toasts"
@import "bootstrap/scss/_modal"
@import "bootstrap/scss/_tooltip"
@import "bootstrap/scss/_popover"
// @import "bootstrap/scss/_carousel"
// @import "bootstrap/scss/_spinners"
// @import "bootstrap/scss/_offcanvas"
// @import "bootstrap/scss/_placeholders"

// Helpers
@import "bootstrap/scss/_helpers"

// Utilities
@import "bootstrap/scss/utilities/_api"
// scss-docs-end import-stack

html, body, .svelte
  height: 100%

html
  --sprachy-primary: #58508d
  --sprachy-gradtwo: #bc5090
  --sprachy-gradthree: #ff6361
  --sprachy-secondary: #ffa600

h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus
  outline: none

.btn-sprachy
  background-color: var(--sprachy-secondary)
  border-color: var(--sprachy-secondary)
  color: white

.btn-sprachy:hover
  color: white

.btn-link
  border: 0
  padding: 0
  background: none

.form-check
  input, label
    cursor: pointer
